*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color1: #fff;
    --color2: #D9F6FA;
    --color3: #ddd;
    --color4: #333;
    --color5: #95faa3;
    --color6: #56cfff;
    --color7: #ff7a62;
}